.card-body{
    padding: 0px;
}

.list-group-item:hover{
    background-color: antiquewhite;
}

a:hover{
    text-decoration: none;
}

.list-group-item .show_hide{
    visibility: hidden;
}
.list-group-item:hover .show_hide{
    visibility: visible;
}